<div class="row">
    <div class="main-header">
        <h4>{{componentTitle}}</h4>
    </div>
</div>

{{#if data.sections}}
{{#each data.sections}}
<div class="row">
    <div class="main-header">
        <h5>{{title}}</h5>
    </div>
</div>
<div class="row dashboard-header">
    {{#each widgets}}
    {{#if_eq @index 4}}
    <div class="clearfix visible-xs-block"></div>
    {{/if_eq}}
    {{#if_eq type 'gauge'}}
    <div class="col-lg-4 col-md-6">
        <div class="card dashboard-product fixed-box align-center">
            <span>{{title}}</span>
            <canvas id="{{id}}" data-visualization="{{type}}" data-renderdata="{{serialize data}}"></canvas>
        </div>
    </div>
    {{/if_eq}}
    {{#if_eq type 'block'}}
    <div class="col-lg-4 col-md-6">
        <div class="card dashboard-product fixed-box align-center">
            <span>{{title}}</span>
            <div class="dashboard-total-products">
                <button type="button" class="display-alert btn {{data.style}} waves-effect waves-light" data-toggle="tooltip"
                    data-placement="top" title="">{{data.value}}</button>
            </div>
        </div>
    </div>
    {{/if_eq}}
    {{/each}}
</div>
{{/each}}
{{else}}
<div class="row">
    <div class="main-header">
        <h4>There is no data in the system</h4>
    </div>
</div>
{{/if}}